<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shawn.patrick.rice.caffeinate.control</string>
	<key>connections</key>
	<dict>
		<key>BD41AE98-BC7C-4628-BF3E-090C643C59F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E47F6F5E-2298-47A4-BADF-51D4799C03E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5FBE03E3-A00E-4EF5-AC12-BA259DC753B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E47F6F5E-2298-47A4-BADF-51D4799C03E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4361E618-F1B9-4544-81D2-625D7D029002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Keep your computer awake.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeinate Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>caff</string>
				<key>runningsubtext</key>
				<string>Wait</string>
				<key>script</key>
				<string>php script-filter.php {query}</string>
				<key>subtext</key>
				<string>Keep your computer awake.</string>
				<key>title</key>
				<string>Caffeinate Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD41AE98-BC7C-4628-BF3E-090C643C59F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeinate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4361E618-F1B9-4544-81D2-625D7D029002</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php script.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E47F6F5E-2298-47A4-BADF-51D4799C03E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript conf-and-help.scpt {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5FBE03E3-A00E-4EF5-AC12-BA259DC753B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>###
# These are random notes to play with things to make it faster
# Just consider these developer notes, and ignore them. It's
# easier for me to keep them here, and they don't affect the workflow.



ps -U $USER|grep caff|grep -v grep
38064 ??         0:00.01 caffeinate -t 19980 -dis

ps u -U $USER|grep caff|grep -v grep

-t ([0-9]{1,})
([0-9]{1,}):([0-9]{2})(AM|PM)

Sven 38064   0.0  0.0  2496636   1068   ??  S     3:17PM   0:00.01 caffeinate -t 19980 -dis


####
# Remake "pidof" command
####
#!/bin/sh
ps axc|awk "{if (\$5==\"$1\") print \$1}";</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD79CF13-5B2C-4352-8361-1811B7B4C796</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use 'caff help' to see more information or visit the website.</string>
	<key>uidata</key>
	<dict>
		<key>4361E618-F1B9-4544-81D2-625D7D029002</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5FBE03E3-A00E-4EF5-AC12-BA259DC753B7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BD41AE98-BC7C-4628-BF3E-090C643C59F6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BD79CF13-5B2C-4352-8361-1811B7B4C796</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E47F6F5E-2298-47A4-BADF-51D4799C03E8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://packal.org/workflow/caffeinate-control</string>
</dict>
</plist>
