<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.shawn.patrick.rice.caffeinate.control</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>14D96C8C-0773-4CF4-8722-080480A9F370</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB79D87F-5FEA-48CE-B581-B6FC3519D6BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>21E6B823-C3EF-47C6-A40C-0C46F64332D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14D96C8C-0773-4CF4-8722-080480A9F370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Keep your computer awake.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeinate Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>caff</string>
				<key>script</key>
				<string>bash script.sh {query}</string>
				<key>title</key>
				<string>Caffeinate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21E6B823-C3EF-47C6-A40C-0C46F64332D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeinate Control</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EB79D87F-5FEA-48CE-B581-B6FC3519D6BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash action.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14D96C8C-0773-4CF4-8722-080480A9F370</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use 'caff help' to see more information or visit the website.</string>
	<key>uidata</key>
	<dict>
		<key>14D96C8C-0773-4CF4-8722-080480A9F370</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>21E6B823-C3EF-47C6-A40C-0C46F64332D2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EB79D87F-5FEA-48CE-B581-B6FC3519D6BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://packal.org/workflow/caffeinate-control</string>
</dict>
</plist>
